<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Blockchain Exchange Rates
  </h1>
</div>
<table style="width:100%">
  <tr>
    <th>Currency</th>
    <th>Symbol</th>
    <th>Buy</th>
    <th>Sell</th>
    <th>Last</th>
    <th>Delayed Price</th>
  </tr>
  <tr *ngFor="let item of exchangeResults" style="text-align: left">
    <td>{{item.currency}}</td>
    <td>{{item.symbol}}</td>
    <td>{{item.buy}}</td>
    <td>{{item.sell}}</td>
    <td>{{item.last}}</td>
    <td>{{item.fm}}</td>
  </tr>
</table>
